

@media (min-width: 768px) {
    .container-fluid{
        margin: auto 3.2rem auto 3.2rem !important;
    }
    
}

#navbarSupportedContent{
    justify-content: end;
}

.nav-item{
    margin-left: 10px;
}


@media (min-width: 990px) {
    .nav-link {
        position: relative;
        text-decoration: none;
    }
    
    .nav-link.active::before {
        content: ""; /* gera a barra*/
        position: absolute; /* permite a sobreposição */
        left: 0; /* centraliza a barra abaixo da rota*/
        bottom: -12px; /* posiciona o sublinhado abaixo do link */
        height: 4px; /* altura do sublinhado */
        width: 100%; /* largura igual à largura do link */
        background: #0094FF; /* cor do sublinhado quando ativo */
        border-radius: 10px; /* deixa os cantos da barra arredondado */
        transition: width 1s; /* transição suave da largura */
    }
    .nav-link:hover::before,
    .nav-link.active::before {
      width: 100%; /* largura igual à largura do link */
    }    
}


.navbar__title{
    background: rgb(0,148,255);
    background: linear-gradient(90deg, rgba(0,148,255,1) 0%, rgba(0,148,240,1) 75%, rgba(164,217,255,1) 100%, rgba(207,235,255,1) 100%, rgba(255,255,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700; 
    font-size: 35px;
}