
<nav class="navbar navbar-expand-lg shadow bg-body-secondary rounded" style="background-color: #FFFFFF !important;">
    <div class="container-md">
        <a class="navbar-brand" routerLink="/product">
            <h1 style="font-weight: 700; font-size: 35px;">Smart Control</h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div>
                <ul class="navbar-nav me-auto" id="navegation__bar">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/product" routerLinkActive="active" ariaCurrentWhenActive="page" style="font-size: 1.5rem; font-weight: 500;">Produtos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/request" routerLinkActive="active" ariaCurrentWhenActive="page" style="font-size: 1.5rem; font-weight: 500;">Pedidos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/company" routerLinkActive="active" ariaCurrentWhenActive="page" style="font-size: 1.5rem; font-weight: 500;">Clientes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/corporation" routerLinkActive="active" ariaCurrentWhenActive="page" style="font-size: 1.5rem; font-weight: 500;">Funcionarios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/control" routerLinkActive="active" ariaCurrentWhenActive="page" style="font-size: 1.5rem; font-weight: 500;">Usuarios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/login"><img src="../../../assets/logout.svg" alt="logout"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>