#_button{
    background: rgb(0,148,255);
    background: linear-gradient(90deg, rgba(0,148,255,1) 0%, rgba(0,148,240,1) 75%, rgba(164,217,255,1) 100%, rgba(207,235,255,1) 100%, rgba(255,255,255,1) 100%);
    border-radius: 10px;
    font-weight: 600;
    border: none !important;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 9px 20px;
}