<div>
    <div class="container" id="main__section">
        <div id="body__section">
            <form class="container-fluid" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>
                <h1 class="mb-5">
                    Tenha o controle da sua <br>empresa
                </h1>
                <div>
                    <div class="form-floating mb-3 shadow">
                        <input type="text" id="username" name="username" [(ngModel)]="username" required class="form-control" [class.is-invalid]="loginError">
                        <label for="username" class="form-label">Usuário</label>
                    </div>
                    
                    <div class="form-floating mb-3 shadow position-relative">
                        <input type="{{ hidePassword ? 'password' : 'text' }}" class="form-control" id="password" name="password" [(ngModel)]="password" required [class.is-invalid]="loginError">
                        <label for="password" class="form-label">Senha</label>
                        <span class="password-toggle" (click)="togglePassword()" >
                            <img src="assets/eye-off.svg" alt="Ícone de senha"  *ngIf="hidePassword" />
                            <img src="assets/eye.svg" alt="Ícone de senha oculta" *ngIf="!hidePassword" />
                        </span>
                    </div>
                    
                    <div class="invalid-feedback d-block" *ngIf="loginError">
                        Usuário ou senha incorretos
                    </div>
                    <br>
                    <Button type="submit" (click)="onLogin()" text="Login" class="shadow container"></Button>
                    <Button type="submit" (click)="onLogin()" class="shadow container" text="Entrar"></Button>
                </div>
            </form>   
            
        </div>
    </div>
</div>