<div class="row">
    <div class="col-12">
        <form>
            <div class="form-group">
                <label for="estados" class="form-label">Selecione um estado:</label>
                <select class="form-control shadow" id="estados">
                    <option value="">Selecione um estado</option>
                    <option *ngFor="let estado of estados" [value]="estado.sigla">{{ estado.nome }}</option>
                </select>
            </div>
        </form>
    </div>
</div>
